body {
   width: 100vw;
   height: 100vh;
   padding: 0;
   margin: 0;
   font-family: Arial;
   color: white;
   overflow: hidden;
}

header {
   height: 8%;
   width: 100%;
   background-color:#181818;;
   display: flex;
   justify-content: center;
   align-items: top;
}

.exit {
   text-decoration: none;
   color: white;
}

.exit:hover {
   color: #24B47E;
}

.logo {
   color: white;
   text-decoration: none;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.logo_container {
   padding-left: 100px;
   width: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

.group_name a {
   color: #24B47E;
   text-decoration: none;
}

.group_name a:hover {
   text-decoration: underline;
}

.list_item a {
   color: white;
   text-decoration: none;
}

.list_item a:hover {
   color: white;
   text-decoration: underline;
}

.container {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 30px;
}

.username_exit {
   margin: 0;
   padding: 0;
   padding-right: 80px;
   width: 20%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: 25px;
   list-style-type: none;
}

.usit_elem  {
   width: auto;
   text-align: center;
}

.main {
   width: 100%;
   height: 78%;
   background-color: #181818;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-top: 1px solid white;
   border-bottom: 1px solid white;
}

.main_left {
   width: 70%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}

.photos {
   padding: 0;
   margin: 0;
   height: 94%;
   width: 100%;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(2, 1fr);
   grid-gap: 10px;
}

.photo_li {
   list-style-type: none;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   border: 1px solid rgba(255, 255, 255, 0.3);
}

.photo {
   width: 100%;
   height: 85%;
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

.name {
   padding-bottom: 8px;
   width: 100%;
   height: 8%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.left_right_but {
   padding-bottom: 6px;
   width: 15%;
   height: 4%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

#current_page {
   padding: 0 5px;
}

.left {
   height: 100%;
   width: 47%;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #24B47E;
   border-radius: 7px;
   color: white;
}

.right:hover {
   border: 1px solid white;
}

.right:active{
   background-color: #1b7956;
}

.left:active{
   background-color: #1b7956;
}

.left:hover {
   border: 1px solid white;
}

.right {
   height: 100%;
   width: 47%;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #24B47E;
   border-radius: 7px;
   color: white;
}

.main_right {
   width: 30%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   border-left: 1px solid white;
}

.all_tags {
   height: 60%;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   display: inline;
}

.searching {
   width: 100%;
   height: 12%;
}

.searching_form {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.search {
   height: 82%;
   width: 85%;
   background-color: #181818;
   color: white;
}

.submit {
   height: 100%;
   width: 15%;
   background-color: #24B47E;
   color: white;
}

.tags {
   width: 100%;
   height: 83%;
   word-break: break-all;
   overflow: auto;
   scrollbar-width: thin;
   scrollbar-color: hsl(0 0% 50%);
   border-bottom: 1px solid white;
   display: inline-block;
}

.list_of_groups {
   margin: 0;
   padding: 0 0 0 10px;
   height: auto;
   width: 90%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-between;
}

.tag_group {
   width: auto;
   height: auto;
   list-style-type: none;
   padding-bottom: 10px;
}

.group_name {
   height: auto;
   width: auto;
   padding-bottom: 5px;
   margin: 0;
}

.tags_checkbox {
   margin: 0;
   margin-right: 4px;
}

.tag_list {
   padding: 0;
   padding-left: 30px;
}

.list_item {
   width: auto;
   height: auto;
   padding-bottom: 5px;
}

.tag-name {
   width: auto;
   text-align: start;
}

.delete_tag {
   margin-right: 70px;
   height: 25px;
   width:  25px;
   border-radius: 100%;
}

.choosen_tags {
   height: 40%;
   width: 100%;
}

.wrap {
   margin: 0;
   padding: 10px 10px 0 10px;
   width: 95%;
   height: auto;
   max-height: 90%;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 10px;
   word-break: break-all;
   overflow: auto;
   scrollbar-width: thin;
   scrollbar-color: hsl(0 0% 50%);
}

.choose_item {
   list-style-type: none;
   height: 25px;
   background-color: #24B47E;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

footer {
   width: 100%;
   height: 14vh;
   background-color: #181818;
   display: flex;
   align-items: top;
   justify-content: space-around;
}

.switch_mod {
   height: 100%;
   width: 10%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
}

.switch_mod input {
   width: 100%;
   height: 35%;
   border: 1px solid rgba(255, 255, 255, 0.3);
   border-radius: 15px;
   background-color: #181818;
   color: white;
   font-size: 15px;
   font-weight: bold;
}

.switch_mod input:hover {
   border: 1px solid white;
}

.instruments {
   padding-top: 10px;
   height: 80%;
   width: 60%;
}

#mod_gallery {
   background-color: #24B47E;
}

#gal_ins {
   display: block;
}

#fin_ins {
   display: none;
}

.panel {
   padding: 0;
   margin: 0;
   height: 100%;
   width: 100%;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(2, 1fr);
   gap: 10px;
}

.panel li {
   list-style-type: none;
}

.panel input {
   width: 100%;
   height: 100%;
   border-radius: 15px;
   border: 1px solid rgba(255, 255, 255, 0.3);
   background-color: #181818;
   color: white;
   font-size: 15px;
   font-weight: bold;
}

.panel input:hover {
   border: 1px solid white;
}

.switch_size {
   height: 100%;
   width: 10%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
}

.switch_size input {
   height: 28%;
   width: 50%;
   background-color: #181818;
   color: white;
   border: 1px solid rgba(255, 255, 255, 0.3);
   border-radius: 5px;
}

.switch_size input:hover {
   border: 1px solid white;
}

#size_big {
   background-color: #24B47E;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: #265301;
}

a:visited {
  color: #437A16;
}

a:focus {
  border-bottom: 1px solid;
  background: #BAE498;
}

a:hover {
  border-bottom: 1px solid;
  background: #CDFEAA;
}

a:active {
  background: #265301;
  color: #CDFEAA;
}