
.main_tag {
   width: 100%;
   height: 92%;
   background-color: #181818;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-top: 1px solid white;
   border-bottom: 1px solid white;
}



.main_right_version {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   border-left: 1px solid white;

}

.high_main {
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}

.searching {
   width: 100%;
   height: 6%;
}

.searching_form {
   padding: 0;
   margin: 0;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-bottom: 1px solid white;
}

.search {
   padding: 0;
   margin: 0;
   padding-left: 5px;
   height: 100%;
   width: 82%;
   background-color: #181818;
   color: white;
   border: none;
   outline: none;
}

.search:focus {
   background-color: #252525;
}

.submit {
   padding: 0;
   margin: 0;
   height: 90%;
   width: 17%;
   background-color: #24B47E;
   color: white;
}

.tags_group {
   width: 100%;
   height:48%;
   word-break: break-all;
   overflow: auto;
   border-bottom: 1px solid white;
}

.tags_group::-webkit-scrollbar {
   width: 0;
 }


.delete_tag {
   margin-right: 70px;
   height: 25px;
   width:  25px;
   border-radius: 100%;
}

.combo_tags {
   height: 48%;
   width: 100%;
   overflow: hidden;
 flex-direction: row;

}
.normal_tags {
   height: 100%;
   width: 49%;
   overflow: hidden;
   float: left;
 
}
.del_tags {
   height: 100%;
   width: 49%;
   overflow: hidden;

 
}

.wrap {
   margin: 0;
   padding: 10px 10px 0 10px;
   width: 95%;
   height: auto;
   max-height: 90%;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 10px;
   word-break: break-all;
   overflow: auto;
}

.cloud_tag {
   color:#24B47E;
   text-align: center;
   word-break: normal;
   margin-right: 5px;
}

