.main {
   height: 92%;
}

.main_left {
   width: 25%;
   height: 100%;
   border-right: 1px solid white;
   display: flex;
   justify-content: flex-start;
   flex-direction: column;
}

   /* The slider */

   .switcher_block {
      width: 100%;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid white;
   }

   .current_mod {
      margin-left: 50px;
      font-size: 20px;
      font-weight: bold;
   }

   #mod_swapper {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 30px;
      margin-right: 10px;
   }

   #mod_switch {
      display: none;
   }

   .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #181818;
      -webkit-transition: .4s;
      transition: .4s;
      border: 1px solid rgba(139, 137, 137, 0.5);
      border-radius: 2px;
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 22px;
      width: 22px;
      left: 4px;
      bottom: 3px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    #mod_switch:checked + .slider {
      background-color: #24B47E;
    }
    
    #mod_switch:focus + .slider {
      box-shadow: 0 0 1px #24B47E;
    }
    
    #mod_switch:checked + .slider:before {
      -webkit-transform: translateX(28px);
      -ms-transform: translateX(28px);
      transform: translateX(28px);
    }

    #emptycompilation {
      color: rgb(228, 79, 79);
      display: block;
      width: 100%;
      text-align: center;
      margin-top: 10px;
    }

   .photos_compilation {
      width: 100%;
      height: auto;
      padding: 0;
      margin: 0;
      margin-top: 5px;
      word-break: break-all;
      overflow: auto;
   }

   .photos_compilation::-webkit-scrollbar {
      width: 0;
    }

   .compilation_li {
      list-style: none;
      width: 100%;
      height: 15vh;
      margin-bottom: 15px;
   }

   .comp_li_button {
      height: 100%;
      width: 100%;
      background-color: rgba(255, 255, 255, 0);
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border: 0;
      padding: 0;
      margin: 0;
   }

   .comp_li_photo {
      width: 60%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin-left: 5px;
      margin-right: 20px;
   }

   .comp_li_name {
      width: 40%;
      height: 100%;
      color: white;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-right: 5px;
      font-size: 15px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
   }

.main_center {
   width: 45%;
   height: 100%;
}

.photos {
   height: 100%;
   grid-auto-rows: 150px;
   overflow-y: auto;
}

.photos::-webkit-scrollbar {
   display: none;
}

.main_li_photo {
   list-style: none;
   width: 100%;
   height: 100%;
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

.key_words {
   list-style: none;
   height: 25px;
   border: 1px solid white;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 10px;
}

.key_words[data-status="user"] {
   background-color: green;
}

.warning {
   position: absolute;
   top: 20px;
   left: 20px;
   z-index: 3;
   color: rgb(228, 79, 79);
}

/*  классы для тегов 

.list_item {
   width: auto;
   height: auto;
   padding-bottom: 5px;
}

.tag-name {
   width: auto;
   text-align: start;
}

.delete_tag {
   margin-right: 70px;
   height: 25px;
   width:  25px;
   border-radius: 100%;
}

.choose_item {
   list-style-type: none;
   height: 25px;
   background-color: #24B47E;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

.addtag {
   background-color: #24B47E;
   color: white;
   height: 100%;
   width: 15%;
   text-align: center;
}

.cloud_tag {
   color:#24B47E;
   text-align: center;
   word-break: normal;
   margin-right: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

*/


