body {
   width: 100vw;
   height: 100vh;
   padding: 0;
   margin: 0;
   font-family: Arial;
   background-color:#181818;
   color:white;
   overflow: hidden;
}

body::-webkit-scrollbar {
   width: 0;
}
input {
   padding: 0;
   margin: 0;
}

header {
   height: 8%;
   width: 100%;
   background-color:#181818;;
   display: flex;
   justify-content: center;
   align-items: top;
}

.container {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 30px;
}

.logo_container {
   padding-left: 100px;
   width: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

.logo {
   color: white;
   text-decoration: none;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.maketag {
   color: white;
   text-decoration: none;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.username_exit {
   margin: 0;
   padding: 0;
   padding-right: 80px;
   width: 20%;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   font-size: 25px;
   list-style-type: none;
}

.usit_elem  {
   width: auto;
   text-align: center;
}

.exit {
   text-decoration: none;
   color: white;
}

.exit:hover {
   color: #24B47E;
}


